.contactUs-main {
  border-radius: 0px !important;
  border: none !important;
  background-color: #f1f6f5 !important;
  .card-body {
    padding: 0rem;
    padding-top: 2rem;
  }


  .submit {
    width: 14rem;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
.coustom-checkbox
{
  display: block;
}
}
