.getStarted {
  .line-template {
    position: relative;
    top: -0.5rem;
    border: none;
    height: 4px;
    width: 93% !important;
    background: #63b3ad;
    margin-bottom: 50px;
    margin: 0rem 2.3rem;
  }
  .template-btn {
    .Coustom-btn {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: #008379;
      border-radius: 0px;
      padding-bottom: 0.81rem;
      svg {
        position: absolute;
        bottom: -0.5px;
        left: 48%;
        color: #ffb34d;
        visibility: hidden;
      }
    }
    :focus {
      font-weight: 700;
      z-index: 1;
      opacity: 1;
    }
    .active-item {
      border-bottom: 4px solid #ffb34d !important;
      svg {
        visibility: visible !important;
      }
    }
  }
}

.template-cards {
  .card {
    border: none !important;
    width: 15rem;
    margin-right: 4rem;
    margin-top: 3rem;
    .card-body {
      padding-left: 0rem !important;
      background-color: #008379;
      color: white;
      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .getStarted {
    .line-template {
      margin: 0rem 0rem;
      top: -0.5rem;
      left: 0.2rem;
      width: 80%;
    }
    .template-btn {
      button {
        font-size: 0.8rem !important;
        font-weight: 500;
      }
      .Coustom-btn {
        svg {
          left: 43%;
        }
      }
    }
    .template-cards {
      div:first-child {
        flex-direction: column !important;
      }

      .card-property {
        width: 22rem;
        margin-right: 0rem;
        margin-top: 2rem;
        padding: 2rem;
        padding-top: 0rem;
      }
    }
  }
}
