.our-client-main {
 
  padding-top: 4rem;
  .our-clients {
    margin-top: 6rem !important;
    padding-bottom: 0rem !important;
    h1{
      font-size: 30px;
    }
    .our-Client-Logo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .rounded {
        padding: 1rem !important;
        width: 13rem;
      }
    }
  }

  .our-client-image {
    width: 60%;
    margin-left: 8rem;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .our-client-main {
    padding-top: 1rem;
    .our-clients {
      margin-top: 2rem !important;
      text-align: left;
      h1{
        font-size: 16px;
      }
    }
    .our-Client-Logo {
      grid-template-columns: none !important;
      justify-content: center;
      .rounded {
        margin-bottom: 1rem;
      }
    }
    .our-client-image {
      margin-left: 3.5rem;
      margin-top: 3rem;
    }
  }
}
