.weAreProviding {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  .weAreProviding-card {
    border: none !important;
    padding-right: 6rem;
    img {
      padding-top: 1rem !important;
    }
    .plr {
      padding-left: 1rem;
      padding-top: 1rem;

      .weAreProviding-card-body {
        padding-left: 0rem !important;
        h6 {
          margin-bottom: 0.1rem;
          font-size: 1.2rem;
        }
        p {
          padding-top: 1.4rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .weAreProviding {
    grid-template-columns: 1fr;
    margin-top: 0rem !important;
    text-align: center;
    .weAreProviding-card {
      padding-right: 0rem;
      padding: 1rem 0rem;
      p {
        padding: 0rem 2rem;
      }
    }
  }
}
